ms_swift==3.2.0.dev0
wheel==0.45.1
pip==25.0
word2number==1.1
webencodings==0.5.1
wcwidth==0.2.13
triton==3.2.0
timeout-decorator==0.5.0
sortedcontainers==2.4.0
sgmllib3k==1.0.0
sentencepiece==0.2.0
pytz==2025.1
pydub==0.25.1
pure_eval==0.2.3
ptyprocess==0.7.0
ply==3.11
peewee==3.17.9
OpenCC==1.1.9
nvidia-ml-py==12.570.86
nvidia-cusparselt-cu12==0.6.2
mpmath==1.3.0
jieba==0.42.1
fuzzywuzzy==0.18.0
func_timeout==4.3.5
fastjsonschema==2.21.1
crcmod==1.7
cpm-kernels==1.0.11
Brotli==1.1.0
antlr4-python3-runtime==4.7.2
addict==2.4.0
zstandard==0.23.0
zipp==3.21.0
xxhash==3.5.0
xmltodict==0.14.2
XlsxWriter==3.2.2
widgetsnbextension==4.0.13
websocket-client==1.8.0
webcolors==24.11.1
watchdog==6.0.0
validators==0.34.0
urllib3==2.3.0
uri-template==1.3.0
ujson==5.10.0
tzdata==2025.1
typing_extensions==4.12.2
types-python-dateutil==2.9.0.20241206
traitlets==5.14.3
tqdm==4.67.1
tornado==6.4.2
sse-starlette==2.2.1
tomli==2.2.1
toml==0.10.2
tinycss2==1.4.0
threadpoolctl==3.5.0
termcolor==2.5.0
tensorboard-data-server==0.7.2
tenacity==9.0.0
tabulate==0.9.0
sympy==1.13.1
sty==1.0.6
soupsieve==2.6
soupsieve==2.5
socksio==1.0.0
sniffio==1.3.1
smmap==5.0.2
six==1.17.0
simplejson==3.20.1
simple-ddl-parser==1.7.1
shellingham==1.5.4
setuptools==69.5.1
Send2Trash==1.8.3
semantic-version==2.10.0
safetensors==0.5.3
ruff==0.9.9
rpds-py==0.23.1
rfc3986-validator==0.1.1
regex==2024.11.6
RapidFuzz==3.12.1
pyzmq==26.2.1
PyYAML==6.0.2
SQLAlchemy==2.0.38
async-timeout==4.0.3
python-json-logger==3.2.1
python-dotenv==1.0.1
pypinyin==0.53.0
pyparsing==3.2.1
pynvml==12.0.0
Pympler==1.1
Pygments==2.19.1
pycryptodome==3.21.0
pycparser==2.22
pyarrow==19.0.1
psutil==7.0.0
protobuf==5.29.3
propcache==0.3.0
prompt_toolkit==3.0.50
prometheus_client==0.21.1
prettytable==3.15.1
portalocker==3.1.1
platformdirs==4.3.6
pillow==11.1.0
phx-class-registry==4.1.0
pexpect==4.9.0
parso==0.8.4
pandocfilters==1.5.1
packaging==24.2
overrides==7.7.0
orjson==3.10.15
nvidia-nvtx-cu12==12.4.127
nvidia-nvjitlink-cu12==12.4.127
nvidia-nccl-cu12==2.21.5
nvidia-curand-cu12==10.3.5.147
nvidia-cufft-cu12==11.2.1.3
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-cupti-cu12==12.4.127
yapf==0.43.0
terminado==0.18.1
swankit==0.1.3
rouge-chinese==1.0.3
rouge==1.0.1
rfc3339-validator==0.1.4
python-dateutil==2.9.0.post0
pydantic_core==2.27.2
omegaconf==2.0.0
nvidia-cusparse-cu12==12.3.1.170
nvidia-cublas-cu12==12.4.5.8
numpy==1.26.4
networkx==3.4.2
nest-asyncio==1.6.0
narwhals==1.28.0
multidict==6.1.0
mistune==3.1.2
mdurl==0.1.2
matplotlib-inline==0.1.7
MarkupSafe==2.1.5
Markdown==3.7
lxml==5.3.1
Levenshtein==0.26.1
lazy_loader==0.4
langdetect==1.0.9
kiwisolver==1.4.8
jupyterlab_widgets==3.0.13
jupyterlab_pygments==0.3.0
jupyter_core==5.7.2
jsonpointer==3.0.0
json5==0.10.0
joblib==1.4.2
jmespath==0.10.0
jiter==0.8.2
jedi==0.19.2
importlib_metadata==8.6.1
immutabledict==4.2.1
idna==3.10
hyperframe==6.1.0
hpack==4.1.0
h11==0.14.0
grpcio==1.70.0
groovy==0.1.2
gitdb==4.0.12
future==1.0.0
fsspec==2024.9.0
frozenlist==1.5.0
fqdn==1.5.1
fonttools==4.56.0
fire==0.7.0
filelock==3.17.0
ffmpy==0.5.0
feedparser==6.0.11
executing==2.2.0
exceptiongroup==1.2.2
et_xmlfile==2.0.0
einops==0.8.1
editdistance==0.8.1
distro==1.9.0
dill==0.3.8
defusedxml==0.7.1
decorator==5.2.1
debugpy==1.8.12
dacite==1.9.2
cycler==0.12.1
comm==0.2.2
colorama==0.4.6
click==8.1.8
charset-normalizer==3.4.1
cffi==1.17.1
certifi==2025.1.31
cachetools==5.5.2
blinker==1.9.0
bleach==6.2.0
beautifulsoup4==4.13.3
beautifulsoup4==4.12.3
babel==2.17.0
attrs==25.1.0
attrdict==2.0.1
typing-inspect==0.9.0
async-lru==2.0.4
asttokens==3.0.0
annotated-types==0.7.0
aiohappyeyeballs==2.4.6
aiofiles==23.2.1
absl-py==2.1.0
yarl==1.18.3
Werkzeug==3.1.3
uvicorn==0.34.0
tifffile==2025.2.18
stack-data==0.6.3
scipy==1.15.2
sacrebleu==2.5.1
requests==2.32.3
referencing==0.36.2
rank-bm25==0.2.2
python-Levenshtein==0.26.1
pydantic==2.10.6
eval_type_backport==0.2.2
diskcache==5.6.3
pandas==2.2.3
openpyxl==3.1.5
opencv-python==4.11.0.86
nvidia-cusolver-cu12==11.6.1.9
nvidia-cudnn-cu12==9.1.0.70
nltk==3.9.1
multiprocess==0.70.16
markdown-it-py==3.0.0
latex2sympy2==1.9.1
jupyter_server_terminals==0.5.3
jupyter_client==8.6.3
jsonlines==4.0.0
Jinja2==3.1.5
imageio==2.37.0
human-eval==1.0.3
httpcore==1.0.7
h5py==3.13.0
h2==4.2.0
griffe==0.49.0
GitPython==3.1.44
decord==0.6.0
cryptography==44.0.2
contourpy==1.3.1
binpacking==1.5.2
arrow==1.3.0
argon2-cffi-bindings==21.2.0
anyio==4.8.0
aiosignal==1.3.2
torch==2.6.0
tiktoken==0.9.0
tensorboard==2.19.0
starlette==0.46.0
scikit-learn==1.6.1
scikit-image==0.25.2
rouge_score==0.1.2
rich==13.9.4
requests-toolbelt==1.0.0
pydeck==0.9.1
modelscope==1.23.1
matplotlib==3.10.1
jsonschema-specifications==2024.10.1
isoduration==20.11.0
ipython==8.33.0
huggingface-hub==0.29.1
httpx==0.28.1
cos-python-sdk-v5==1.9.34
arxiv==2.1.3
argon2-cffi==23.1.0
aliyun-python-sdk-core==2.16.0
aiohttp==3.11.13
typer==0.15.2
torchvision==0.21.0
tokenizers==0.21.0
seaborn==0.13.2
safehttpx==0.1.6
openai==1.65.2
mmengine-lite==0.10.6
mmengine==0.10.6
jsonschema==4.23.0
ipywidgets==8.1.5
ipykernel==6.29.5
fastapi==0.115.11
bitsandbytes==0.45.3
aliyun-python-sdk-kms==2.16.5
accelerate==1.4.0
transformers==4.49.0
swanboard==0.1.7b1
oss2==2.19.1
nbformat==5.10.4
jupyter-console==6.6.3
duckduckgo_search==5.3.1b1
datasets==3.2.0
altair==5.5.0
transformers-stream-generator==0.0.5
swanlab==0.4.9
streamlit==1.42.2
sentence-transformers==3.4.1
peft==0.14.0
nbclient==0.10.2
ms-vlmeval==0.0.13
jupyter-events==0.12.0
evaluate==0.4.3
nbconvert==7.16.6
ms-opencompass==0.1.6
evalscope==0.12.0
jupyter_server==2.15.0
notebook_shim==0.2.4
jupyterlab_server==2.27.3
jupyter-lsp==2.2.5
jupyterlab==4.3.5
notebook==7.3.2
jupyter==1.1.1
lagent==0.2.4
xtuner==0.1.23
av==14.2.0
qwen-vl-utils==0.0.10
httpx-sse==0.4.0
trl==0.16.0.dev0
setproctitle==1.3.5
sentry-sdk==2.22.0
docker-pycreds==0.4.0
wandb==0.19.7
py-cpuinfo==9.0.0
hjson==3.1.0
ninja==1.11.1.3
msgpack==1.1.0
deepspeed==0.16.4
flash_attn==2.7.4.post1
braceexpand==0.1.7
appdirs==1.4.4
marshmallow==3.26.1
websockets==12.0
webdataset==0.2.111
unicorn==2.1.3
greenlet==3.1.1
tomlkit==0.12.0
pytrec-eval-terrier==0.5.6
python-multipart==0.0.12
pysbd==0.3.4
polars==1.24.0
mypy-extensions==1.0.0
plotly==5.24.1
jsonpatch==1.33
pydantic-settings==2.8.1
langsmith==0.3.13
gradio_client==1.4.2
dataclasses-json==0.6.7
langchain-core==0.3.43
gradio==5.4.0
langchain-text-splitters==0.3.6
langchain-openai==0.3.8
mteb==1.19.4
langchain==0.3.20
langchain-community==0.3.19
ragas==0.2.9
timm==1.0.15
janus==1.0.0
